<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/download.jpeg">
        <link rel="stylesheet" href="./css/style.css"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This is was created by me for learnign node.js</p>
            <img class="portrait" src="/img/BlawkHawk.jpg">
           

        </div>
         {{>footer}}
    </body>
</html>